.cm-scroller {
  height: 95vh !important;
  font-size: 16px;
}
.cm-editor.cm-focused {
  outline: none;
}
.cm-selectionBackground {
  background-color: #0005 !important;
}

.cm-activeLine {
  background-color: #0007 !important;
}
